OPENAI_API_KEY="voc-16048288416073615402176974e6911466c2.18750000"
OPENAI_BASE_URL="https://openai.vocareum.com/v1"
CHROMA_OPENAI_API_KEY="YOUR_KEY"
TAVILY_API_KEY="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"
